<form action="/figures" method="POST">
  <lable>Name</label>
    <input type="text" id="figure_name" name="figure[name]"><br></br>

  <label>Titles</label>
    <% Title.all.each do |title| %>
      <label><%= title.name %></label>
      <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>"><br>
    <% end %>

 <label>Create New Title:</label>
  <input type="text" id="new_title" name="title[name]">


  <label>Landmarks</label>
    <% Landmark.all.each do |landmark| %>
      <label><%= landmark.name %></label>
      <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><br>
    <% end %>


 <label>Create New Landmark:</label>
 <label>Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year:</label>
  <input type="text" name="landmark[year_completed]">
  <input type="submit" value="Create New Figure">
</form>
